<!-- <router-outlet></router-outlet> -->
<div class="p-3">
  <h2>Chaos</h2>
  <div class="mb-3">
    <div class="row">
      <div class="col-2">
        <div class="input-group">
          <span class="input-group-text">x</span>
          <input type="number" class="form-control" min="0" max="1" step="0.001" [(ngModel)]="xValue">
        </div>
      </div>
      <div class="col-2">
        <div class="input-group">
          <span class="input-group-text">r</span>
          <input type="number" class="form-control" min="0" step="1" [(ngModel)]="rValue">
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-success" (click)="render()">Render</button>
      </div>
      <div class="col-7 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="stepXRun()">Step x by {{stepValue}}</button>
        <button class="btn btn-danger mx-1" (click)="stepTRun()">Step t by {{stepValue}}</button>
      </div>
    </div>
    <div class="row mt-2">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div id="chartdiv" class="h50"></div>
    </div>
  </div>
  <div class="border p-2 mt-2 d-flex flex-wrap" *ngIf="logisticMapValues">
    <span *ngFor="let logisticMapValue of logisticMapValues" class="me-1">{{logisticMapValue.x}}</span>
  </div>
</div>